<mat-card fxLayout="column">
  <div class="card-header">
    <mat-card-title>Doom Ethernal</mat-card-title>
    <mat-card-subtitle>200 UAH</mat-card-subtitle>
  </div>
  <mat-card-content>
    <p>
        Hell's armies have invaded Earth. Become the Slayer in an epic single-player campaign to conquer demons across dimensions and stop the final destruction of humanity. The only thing they fear... is you.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Add to Library</button>
  </mat-card-actions>


  <!-- <mat-card-actions fxLayout="row">
    <button mat-raised-button color="primary">Download</button>
    <button mat-raised-button>Share</button>
  </mat-card-actions> -->
</mat-card>
