<mat-toolbar fxLayoutAlign="start center">
    <nav fxLayout fxLayoutGap="35px">
        <a href="#" routerLinkActive="active-link">
            <img src="assets/steam-logo.svg" alt="">
        </a>
        <a routerLinkActive="active-link" routerLink="/games">Games</a>
        <a routerLinkActive="active-link" routerLink="/library">Library</a>
        <a routerLinkActive="active-link" routerLink="/friends">Friends</a>
        <a routerLinkActive="active-link" routerLink="/profile">Profile</a>
    </nav>
</mat-toolbar>