<div fxLayoutAlign="center center" fxFlexFill class="profile-block">
    <div fxFlex="25">
        <mat-toolbar fxLayoutAlign="center center" color="transparent">
            <span>Profile</span>
        </mat-toolbar>


        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field >
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field >
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput placeholder="Age">
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">Edit</button>
        </form>
          
    </div>
</div>